<script src="/js/navbar.js" type="module" defer></script>
<div class="dashboard-nav">
    <h1>Ordo</h1>
    <nav>
        <a class="nav-opt" href="/dashboard">
            <i class="fa-solid fa-gauge fa-lg"></i>
            <p>Painel</p>
        </a>
        <hr class="solid">
        <a class="nav-opt" href="/logout">
            <i class="fa-solid fa-person-walking-arrow-right fa-lg"></i>
            <p>Sair</p>
        </a>
    </nav>
</div>