<header>
    <a id="logo" href="/">Ordo</a>
    <button id="menu-controller"><i class="fa-solid fa-bars fa-3x"></i></button>
    <nav class="navbar">
        <a href="/login">Login</a>
        <a href="/register">Criar conta</a>
    </nav>
</header>