<!DOCTYPE html>
<html lang="pt-br">
<%- include('../partials/head') %>
<body class="dashboard">
    <%- include('../partials/modal') %>
    <%- include('../partials/dashboardNav') %>
    <div class="dashboard-page">
        <h1>Conta</h1>
        <p></p>
        <a href="/user/edit" class="p-btn">Alterar informações</a>
    </div>
</body>
</html>