:root{
  --transparent-hover: rgba(255, 255, 255, 0.07);
  --transparent-click: rgba(255, 255, 255, 0.15);
  --bg-color: #f1f1f1;
  --text-color: #1b1b1b;
  --secondary-text-color: #383838;
  --box-shadow: 0 0 0 0.1rem rgba(255, 255, 255, 0.07);
  --header-text-color: #e56fb2;
  --header-bg-color: #121214;
  --form-bg-color: #141416;
  --label-text-color: #adadad;
  --input-bg-color: #252529;
  --input-focus-bg-color: #3b3b42;
  --input-shadow: 0 0 0 0.2rem #e56fb2de;
  --p-btn-color: #e7e5e5;
  --p-btn-bg-color: #121214;
  --task-bg-color: #1a1a1d;
  --outline-color: rgba(255, 255, 255, 0.192);
  --success-color: #16b177c7;
  --error-color: #e94949c7;
  --primary-color: #e56fb2;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, 
h2,
h3,
a{
  color: var(--primary-color);
}

h1{
  font-size: calc(2rem + 1vw);
}

p{
  color: var(--text-color);
  font-size: calc(1.3rem + 0.2vw);
}

label{
  color: var(--label-text-color);
  font-size: calc(1rem + 0.2vw);
}

input{
  font-size: calc(1rem + 0.1vw);
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input[type=submit]{
  cursor: pointer;
}