<!DOCTYPE html>
<html lang="pt-br">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <section id="landing-page">
        <h1>Bem-vindo ao Ordo</h1>
        <p>A ferramenta de que ajuda sua equipe a organizar seus projetos</p>
        <a href="/login" class="p-btn">Começar agora</a>
    </section>
</body>
</html>