@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --transparent-hover: rgba(255, 255, 255, 0.07);
    --transparent-click: rgba(255, 255, 255, 0.15);
    --bg-color: #21222c;
    --heading-color: #e56fb2;
    --header-color: #1a1a1d;
    --form-color: #141416;
    --dashboard-nav-color: #141416;
    --input-color: #ececec34;
    --text-color: #e7e5e5;
    --primary-color: #e56fb2;
    --success-color: #16b177c7;
    --error-color: #e94949c7;
}

body{
    background-color: var(--bg-color);
}

h1{
    color: var(--heading-color);
    text-align: center;
}

header{
    display: flex;
    width: 100vw;
    height: 10vh;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 3vh;
    background-color: var(--header-color);
}

.navbar{
    display: none;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
}

#menu-controller{
    position: absolute;
    top: 0;
    right: 0;
    height: 10vh;
    width: 10vh;
    background-color: transparent;
    border: none;
    color: var(--primary-color);
}

#menu-controller:hover, #menu-controller-dashboard:hover{
    background-color: var(--transparent-hover);
}

#menu-controller:active, #menu-controller-dashboard:active{
    background-color: var(--transparent-click);
}

.responsive-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 10vh;
    right: 0;
    text-align: left;
    width: 50vw;
    background-color: var(--header-color);
    transition: all .2s;
}

.responsive-menu > a{
    padding: 3vh 3vw;
}

header a{
    font-size: 1.3rem;
    color: var(--primary-color);
    text-decoration: none;
    transition: all .1s;
}

header > a{
    font-size: 3rem;
}

header a:hover{
    color: #ecece8;
}

form{
    display: flex;
    flex-direction: column;
    width: 90vw;
    padding: 3vw 4vh 3vw;
    margin: 0 auto;
    border-radius: 4px;
    background-color: var(--form-color); 
    box-shadow: -3px 4px 12px -5px rgba(0,0,0,0.74);
}

form > h1{
    color: var(--text-color);
    text-align: left;
    font-size: 3rem;
    margin-bottom: 10%;
}

form > label{
    font-size: 1.3rem;
    color: var(--text-color);
    max-width: fit-content;
    margin-bottom: 10px;
}

form > input{
    font-size: 1rem;
    padding: 8px;
    margin-bottom: 5%;
    color: var(--text-color);
    border: none;
    border-radius: 3px;
    outline: 1px solid var(--input-color);
    background-color: transparent;
}

form > input:focus{
    color: white;
    outline: 2px solid var(--primary-color);
}

form > input[type=submit]{
    font-size: 1.3rem;
    margin: 0 auto;
    outline: none;
    color: var(--text-color);
}

form > a{
    color: var(--text-color);
    text-align: center;
    margin-top: 5vh;
}

form > a:hover{
    color: var(--primary-color);
}

#landing-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

#landing-page > h1{
    font-size: 4rem;
    margin-bottom: 10px;
} 

#landing-page > p{
    font-size: 1.5rem;
    text-align: center;
    color: #ecece8;
}

#landing-page > .p-btn{
    margin-top: 4rem;
    font-size: 2rem;
}

.p-btn{
    cursor: pointer;
    max-width: fit-content;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    color: var(--bg-color);
    background-color: var(--primary-color);
    border: none;
    text-decoration: none;
    transition: all .2s;
}

.p-btn:hover{
    background-color: transparent;
    color: var(--primary-color);
    outline: 1px solid var(--primary-color);
}

[class^='modal-']{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 10vh;
    border-radius: 4px;
    text-align: center;
    margin: 0 auto;
    width: 90vw;
    padding: 2vh;
    color: var(--text-color);
}

[class^='modal-'] > p{
    font-size: calc(1.2rem + 0.5vw);
    flex-grow: 2;
}

[class^='modal-'] > i{
    font-size: calc(1.1rem + 0.5vw);
    cursor: pointer;
}

[class^='modal-'] > i:hover{
    color: var(--bg-color);
}

.modal-error{
    background-color: var(--error-color);
}

.modal-success{
    background-color: var(--success-color);
}

.dashboard{
    display: flex;
    align-items: stretch;
}

.dashboard-nav{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 2vh 2vw;
    background-color: var(--dashboard-nav-color);
    color: var(--primary-color);
}

.dashboard-nav h1{
    text-align: center;
}

.dashboard-nav > nav{
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    row-gap: 3vh;
}

.nav-opt{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    text-decoration: none;
    color: var(--primary-color);
}

.nav-opt:hover{
    color: var(--text-color);
}

.nav-opt p{
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

.nav-opt i{
    display: none;
}

hr.solid{
    border: 1px solid rgba(255, 255, 255, 0.281);
    width: 100%;
    margin: 1vh -1%;
}

.dashboard-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 10vh 0 0 5vw;
}

.dashboard-page > h1{
    text-align: start;
    margin-bottom: 2vh;
}

@media (min-width:640px) {
    form{
        width: 70vw;
    }

    [class^='modal-']{
        width: 75vw;
    }
}

@media (min-width:900px) {
    .navbar{
        display: flex;
    }

    #menu-controller{
        display: none;
    }

    .dashboard-nav h1{
        text-align: left;
    }

    .nav-opt{
        justify-content: start;
    }

    .nav-opt i{
        display: inline;
    }

    hr.solid{
        width: 140%;
        margin: 1vh -20%;
    }
}

@media (min-width:1200px) {
    form{
        width: 40vw;
    }

    [class^='modal-']{
        width: 45vw;
    }
}