.Input{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.Input label{
    margin-bottom: 16px;
}

.Input input{
    border-radius: 5px;
    border: none;
    color: var(--input-text-color);
    background-color: var(--input-bg-color);
    outline: 1px transparent;
    transition: all .1s;
    padding: 10px;

}

.Input input:focus{
    background-color: var(--input-focus-bg-color);
    outline: 1px solid var(--primary-color);
    color: var(--input-focus-text-color);
}

.Input span{
    margin-top: 10px;
    color: var(--error-color);
}