.Submit{
    display: flex;
    flex-direction: column;
}

.Submit input[type=submit]{
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: var(--p-btn-color);
    background-color: var(--primary-color);
    outline: 1px transparent;
    transition: all .1s;
}

.Submit input[type=submit]:hover,
.Submit input[type=submit]:focus{
    outline: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: transparent;
}