<!DOCTYPE html>
<html lang="pt-br">
<%- include('../partials/head') %>
<body>
    <section id="landing-page">
        <h1>Bem-vindo ao Ordo</h1>
        <p>A ferramenta de que ajuda sua equipe a organizar seus projetos</p>
        <a href="" class="p-btn">Começar agora</a>
    </section>
</body>
</html>