.Header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 1vh 0;
    margin-bottom: 5vh;
    background-color: var(--header-bg-color);
}

.Header nav{
    width: 10%;
    display: flex;
    justify-content: space-between;
}

.Header a{
    text-decoration: none;
    font-weight: 500;
}

.Header button{
    font: inherit;
    cursor: pointer;
    color: var(--primary-color);
    font-weight: 500;
    
}