.LoginForm form{
    display: flex;
    flex-direction: column;
    background-color: var(--form-bg-color);
    width: fit-content;
    padding: 20px;
    border-radius: 3px;
    margin: 0 auto;
}

.LoginForm span{
    margin-bottom: 10px;
    color: var(--error-color);
}

.LoginForm h1{
    text-align: center;
}

.LoginForm a{
    margin-bottom: 30px;
}