.RegisterForm form{
    display: flex;
    flex-direction: column;
    background-color: var(--form-bg-color);
    width: fit-content;
    padding: 20px;
    border-radius: 3px;
    margin: 0 auto;
}

.RegisterForm h1{
    text-align: center;
}

.RegisterForm a{
    margin-bottom: 30px;
}