.TaskForm form{
    display: flex;
    flex-direction: column;
    background-color: var(--form-bg-color);
    width: fit-content;
    padding: 20px 40px;
    border-radius: 3px;
    margin: 20px auto;
}

.TaskForm h1{
    text-align: left;
    margin: 10px 0;
}

.TaskForm a{
    margin-bottom: 30px;
}