.Task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-bg-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 7px;
    margin: 2% 0;
    height: fit-content;
}

.TaskInfo{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 0 0 20px;
    padding: 10px;
}

.TaskInfo > h3{
    color: var(--text-color);
    margin: 0;
    font-size: x-large;
}

.TaskInfo > p{
    margin: 0;
    font-size: medium;
    color: var(--secondary-text-color);
    white-space: normal;
}